*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Poppins,sans-serif;
}

body{
  background:#f5f3ff;
}

nav{
  background:#6d28d9;
  padding:18px;
  text-align:center;
}

nav a{
  color:white;
  text-decoration:none;
  margin:0 20px;
  font-size:18px;
  font-weight:600;
}

.container{
  width:90%;
  max-width:900px;
  margin:40px auto;
  background:white;
  padding:30px;
  border-radius:15px;
  box-shadow:0 5px 20px rgba(0,0,0,.1);
}

h1,h2,h3{
  text-align:center;
  color:#6d28d9;
  margin-bottom:15px;
}

.card{
  text-align:center;
  padding:20px;
}

form{
  display:flex;
  flex-direction:column;
}

label{
  margin-top:10px;
}

input{
  padding:12px;
  margin-top:5px;
  border:1px solid #ccc;
  border-radius:8px;
}

button{
  margin-top:15px;
  padding:10px;
  border:none;
  border-radius:8px;
  background:#6d28d9;
  color:white;
  cursor:pointer;
}

.book-table{
  width:100%;
  margin-top:20px;
  border-collapse:collapse;
}

.book-table th{
  background:#6d28d9;
  color:white;
  padding:12px;
}

.book-table td{
  border:1px solid #ddd;
  padding:10px;
  text-align:center;
}

.edit-btn{
  background:#22c55e;
  margin-right:5px;
}

.delete-btn{
  background:#ef4444;
}